# DESCARGA INFORMACION DE COTIZACION DE DOLAR BLUE DE ARGENTINA

In [115]:
#librerias que se necesitan. Se pueden instalar desde aqui tipeando !pip install desde cualquier celda en blanco
import requests
from bs4 import BeautifulSoup
import datetime
import pandas as pd

In [116]:
#Url a la cual vamos a pedirle la info del dolar blue
url  = 'https://www.cotizacion-dolar.com.ar/dolar-blue-historico-2020.php'

In [117]:

#funcion para descargar los datos de la fecha de referencia. El formato de fecha debe ser datetime
def blue(fecha):
    myobjet = {'fecha': fecha.strftime('%d-%m-%y')}
    resp = requests.post(url, data=myobjet)
    soup = BeautifulSoup(resp.text)
    datos = soup.find_all('tr')[1].find_all('td')
    fecha =datos[0].text
    compra = datos[1].text
    venta = datos[2].text
    if '$' in compra:
        pass
    else:
        print(fecha,compra,venta)
        return(fecha,compra,venta)

In [118]:
#rango de fechas para las cuales se desean los datos. Excluye fines de semana
dates = pd.bdate_range(start='1/1/2018', end='3/25/2018')

#creamos un Dataframe para guardar los resultados de los requests
df = pd.DataFrame(index=dates,columns=['data'])

#aplicamos la funcion en el dataframe
df['data'] = df.index.map(blue)

23-03-18 20.50 20.90
02-01-18 18.85 19.25
03-01-18 18.89 19.29
04-01-18 18.94 19.34
05-01-18 19.05 19.45
08-01-18 19.18 19.58
09-01-18 19.14 19.54
10-01-18 18.92 19.32
11-01-18 18.98 19.38
12-01-18 19.14 19.54
15-01-18 19.21 19.61
16-01-18 19.20 19.60
17-01-18 19.22 19.62
18-01-18 19.24 19.64
19-01-18 19.29 19.69
22-01-18 19.40 19.80
23-01-18 19.48 19.88
24-01-18 19.63 20.03
25-01-18 19.56 19.96
26-01-18 19.58 19.98
29-01-18 19.63 20.03
30-01-18 19.64 20.04
31-01-18 19.55 19.95
01-02-18 19.53 19.93
02-02-18 19.52 19.92
05-02-18 19.52 19.92
06-02-18 19.49 19.89
07-02-18 19.45 19.85
08-02-18 19.53 19.93
09-02-18 19.83 20.23
14-02-18 19.80 20.20
15-02-18 19.70 20.10
16-02-18 19.75 20.15
19-02-18 19.83 20.23
20-02-18 19.76 20.26
21-02-18 19.80 20.20
22-02-18 19.91 20.31
23-02-18 19.95 20.35
26-02-18 20.00 20.40
27-02-18 20.00 20.40
28-02-18 19.95 20.35
01-03-18 20.00 20.40
02-03-18 20.10 20.50
05-03-18 20.15 20.55
06-03-18 20.25 20.65
07-03-18 20.28 20.68
08-03-18 20.28 20.68
09-03-18 20.23 20.63
12-03-18 20.20 20.60
13-03-18 20.27 20.67
14-03-18 20.35 20.75
15-03-18 20.42 20.82
16-03-18 20.45 20.85
19-03-18 20.52 20.92
20-03-18 20.57 20.97
21-03-18 20.58 20.98
23-03-18 20.50 20.90

In [119]:
df.dropna(axis=0,how='all',inplace=True)

In [120]:
#separamos los datos en diferentes columnas
df['Compra']=df.data.apply(lambda x :x[1])
df['Venta']=df.data.apply(lambda x :x[2])

In [121]:
#eliminamos las columas innecesarias
df.drop(columns=['data'],inplace=True)

In [122]:
#vemos los resultados
df.head()

           Compra  Venta
2018-01-02  18.85  19.25
2018-01-03  18.89  19.29
2018-01-04  18.94  19.34
2018-01-05  19.05  19.45
2018-01-08  19.18  19.58